{% extends "adminpage/index.html" %}
{% load humanize %}

{% block inforow %}
  <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Pemasukan</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Rp.{{total_harga|intcomma}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Pembayaran Pending</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Rp.{{total_pending|intcomma}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Penjualan</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{total_id}}</div>
                        </div>
                        <div class="col">
                          <!-- <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total Pembayaran Pending</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_id_pending}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock inforow %}


{% block content %}
  <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Kode Nota</th>
                      <th>UserName</th>
                      <th>Status Order</th>
                      <th>Harga</th>
                      <th>Harga Ongkir</th>
                      <th>Total Harga</th>
                      <th>Alamat</th>
                      <th>Aksi</th>
                      <th>Resi</th>
                      <th>Detail</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>No</th>
                      <th>Kode Nota</th>
                      <th>UserName</th>
                      <th>Status Order</th>
                      <th>Harga</th>
                      <th>Harga Ongkir</th>
                      <th>Total Harga</th>
                      <th>Alamat</th>
                      <th>Aksi</th>
                      <th>Resi</th>
                      <th>Detail</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for order in orders %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{order.kode_nota}}</td>
                        <td>{{order.user.username}}</td>
                        <td>{{order.status_order}}</td>
                        <td>Rp.{{order.harga|intcomma}}</td>
                        <td>Rp.{{order.harga_ongkir|intcomma}}</td>
                        <td>Rp.{{order.total_harga|intcomma}}</td>
                        <td>{{order.alamat}}</td>
                        <td>{{order.resi}}</td>
                        <td><a class="btn btn-primary" href="{% url 'adminpage-resi' order.kode_nota %}">Tambah Resi</a></td>
                        <td><a class="btn btn-success" href="{% url 'adminpage-detail' order.kode_nota %}">Detail</a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
{% endblock content %}
