{% extends "shop/index.html" %}

{% block content %}

    

        <!-- Main Content Wrapper Start -->
        <div class="main-content-wrapper">
            <div class="page-content-inner ptb--80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mb-md--50">
                            
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <div class="table-content table-responsive">
                                            <table class="table text-center">
                                                <thead>
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                        <th>&nbsp;</th>
                                                        <th class="text-left">Product</th>
                                                        <th>price</th>
                                                        <th>quantity</th>
                                                        <!-- <th>total</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
{% for item in items %}
                            <form class="cart-form" action="{% url 'shop-checkout' item.order.id %}" method="POST">
                                {% csrf_token %}
                                                    <tr>
                                                        <td class="product-remove text-left"><a href="{% url 'shop-deletecart' item.id %}"><i class="flaticon flaticon-cross"></i></a></td>
                                                        <td class="product-thumbnail text-left">
                                                            <img src="{{item.product.foto.url}}" alt="Product Thumnail">
                                                        </td>
                                                        <td class="product-name text-left wide-column">
                                                            <h3>
                                                                <a href="product-details.html">{{item.product}}</a>
                                                            </h3>
                                                        </td>
                                                        <td class="product-price">
                                                            <span class="product-price-wrapper">
                                                                <span class="money">Rp.{{item.price}}</span>
                                                            </span>
                                                        </td>
                                                        <td class="product-quantity">
                                                            <div class="quantity qtycus{{forloop.counter}}">
                                                                <input type="number" class="quantity-input" name="quantity{{forloop.counter}}" id="quantity1" value="{{item.quantity}}" min="1">
                                                            </div>
                                                            <div id="kek{{forloop.counter}}" style="display: none;">
                                                                
                                                            </div>
                                                        </td>
                                                        <td><input type="hidden" name="id" value="{{item.pk}}" id="idx{{forloop.counter}}"></td>
                                                        <script type="text/javascript">
                                                            $(document).ready(function(){


         // $("#quantity{{forloop.counter}}").click(function(){
         //    quantity_id{{forloop.counter}} = $("#quantity{{forloop.counter}}").val();
         //    idv{{forloop.counter}} = $("#idx{{forloop.counter}}").val();
         //    $("#kek{{forloop.counter}}").load("/orderitemupdate/" + quantity_id{{forloop.counter}} + "/" + idv{{forloop.counter}} );
         // });

    // $(".quantity").append('<div class="dec qtybutton">-</div><div class="inc qtybutton">+</div>');


$(".qtycus{{forloop.counter}}").append('<div class="dec{{forloop.counter}} qtybutton{{forloop.counter}} decx qtybuttonx">-</div><div class="inc{{forloop.counter}} qtybutton{{forloop.counter}} incx qtybuttonx">+</div>');
    idv{{forloop.counter}} = $("#idx{{forloop.counter}}").val();

    $(".qtybutton{{forloop.counter}}").on("click", function () {
        // alert('gfhjklihugyft {{forloop.counter}}');
        var $button{{forloop.counter}} = $(this);
        var oldValue{{forloop.counter}} = $button{{forloop.counter}}.parent().find("input").val();
        if ($button{{forloop.counter}}.hasClass("inc{{forloop.counter}}")) {
            var newVal{{forloop.counter}} = parseFloat(oldValue{{forloop.counter}}) + 1;
            quantity_id{{forloop.counter}} = $("#quantity{{forloop.counter}}").val();
            idv{{forloop.counter}} = $("#idx{{forloop.counter}}").val();
            $("#kek{{forloop.counter}}").load("/orderitemupdate/" + newVal{{forloop.counter}} + "/" + idv{{forloop.counter}} );
        } else {
            // Don't allow decrementing below zero
            if (oldValue{{forloop.counter}} > 1) {
                var newVal{{forloop.counter}} = parseFloat(oldValue{{forloop.counter}}) - 1;
                 quantity_id{{forloop.counter}} = $("#quantity{{forloop.counter}}").val();
            idv{{forloop.counter}} = $("#idx{{forloop.counter}}").val();
            $("#kek{{forloop.counter}}").load("/orderitemupdate/" + newVal{{forloop.counter}} + "/" + idv{{forloop.counter}} );
            } else {
                newVal{{forloop.counter}} = 1;
            }
        }
        $button{{forloop.counter}}.parent().find("input").val(newVal{{forloop.counter}});
    });

        });


                                                        </script>
                                                       <!--  <td class="product-total-price">
                                                            <span class="product-price-wrapper">
                                                                <span class="money">$49.00</span>
                                                            </span>
                                                        </td> -->
                                                    </tr>
                                            {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>  
                                    </div>
                                </div>
                                <!-- <div class="row no-gutters border-top pt--20 mt--20">
                                    <div class="col-sm-6">
                                        <div class="coupon">
                                            <input type="text" id="coupon" name="coupon" class="cart-form__input" placeholder="Coupon Code">
                                            <button type="submit" class="cart-form__btn">Apply Coupon</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-sm-right">
                                        <button type="submit" class="cart-form__btn">Clear Cart</button>
                                        <button type="submit" class="cart-form__btn">Update Cart</button>
                                    </div>
                                </div> -->
                                                    <!-- <button class="btn btn-submit" type="submit">Proceed Checkout</button> -->

                            </form>
                        </div>


                        {% for order in orders %}
                                                        
                        <div class="col-lg-4">
                            <div class="cart-collaterals">
                                <div class="cart-totals">
                                    <h5 class="font-size-14 font-bold mb--15">User Details</h5>
                                    <div class="cart-calculator">
                                        <div class="cart-calculator__item">
                                            <div class="cart-calculator__item--head">
                                                <span>Nama</span>
                                            </div>
                                            <div class="cart-calculator__item--value">
                                                <span>{{order.user.first_name}} {{order.user.last_name}}</span>
                                            </div>
                                        </div>
                                        <div class="cart-calculator__item">
                                            <div class="cart-calculator__item--head">
                                                <span>Kode Nota</span>
                                            </div>
                                            <div class="cart-calculator__item--value">
                                                <span>{{order.kode_nota}}</span>
                                                <div class="shipping-calculator-wrap">
                                                    <!-- <a href="#shipping_calculator" class="expand-btn">Calculate Shipping</a> -->

                                                    <form class="cart-form" action="{% url 'shop-checkout' order.id %}" method="POST">
                                                        {% csrf_token %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart-calculator__item order-total">
                                            <div class="cart-calculator__item--head">
                                                <span>Email</span>
                                            </div>
                                            <div class="cart-calculator__item--value">
                                                <span class="product-price-wrapper">
                                                    <span class="money">{{order.user.email}}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-fullwidth btn-bg-red btn-color-white btn-hover-2" type="submit">Proceed Checkout</button>
                            </div>
                        </div>
                        </form>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->

  <script type="text/javascript">
        // function test(){

        // }
        $(document).ready(function(){
          $("#prov").change(function(){
            prov_id = $("#prov :selected").val();
                $("#kota").load("/cek_kota/" + prov_id);

          });
          $("#prov_tujuan").change(function(){
            prov_tujuan_id = $("#prov_tujuan :selected").val();
                $("#kota_tujuan").load("/cek_kota_tujuan/" + prov_tujuan_id);

          });

          $("#kota_tujuan").change(function(){
            kota_tujuan_id = $("#kota_tujuan :selected").val();
                $("#kecamatan_tujuan").load("/cek_kecamatan_tujuan/" + kota_tujuan_id);

          });

          $("#submit").click(function(){
            kota_id = $("#kota").val();
            kecamatan_tujuan_id = $("#kecamatan_tujuan :selected").val();
            berat = $("#berat").val();
            jasa_ongkir = $("#ongkir :selected").val();
                $("#service").load("/cek_ongkir/" + kota_id + "/" + kecamatan_tujuan_id + "/" + berat + "/" +jasa_ongkir);
          });

         //  $("#ongkir").change(function(){
            
            // jasa_ongkir = $("#ongkir :selected").val();
   //           $("#service").load("/cek_ongkir/" + kota_id + "/" + kecamatan_tujuan_id + "/" + berat + "/" +jasa_ongkir);
         //  });

         $("#quantity").click(function(){
            quantity_id = $("#id").value();
            $("#quantity").load("/orderitemupdate/" + quantity_id);
         });


        });
        
    </script>
       
{% endblock content %}