{% extends "shop/index.html" %}
{% load humanize %}


{% block content %}
<div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
    <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                            <h1 class="page-title">Checkout</h1>
                            <ul class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li class="current"><span>Checkout</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
</div>

	
<div class="main-content-wrapper">
            <div class="page-content-inner">
                <div class="container">
                    <div class="row pt--50 pt-md--40 pt-sm--20">
                        <div class="col-12">
                            <!-- User Action Start -->
                            <div class="user-actions user-actions__coupon">
                                <div class="message-box mb--30">
                                    <p><i class="fa fa-exclamation-circle"></i> Jika anda telah memproses pengiriman pesanan anda, harap cek email anda di kotak masuk/spam untuk melihat detail pembelian anda. <a class="expand-btn" href="#coupon_info"></a></p>
                                </div>
                                <div id="coupon_info" class="user-actions__form hide-in-default">
                                    <form action="#" class="form">
                                        <p>If you have a coupon code, please apply it below.</p>
                                        <div class="form__group d-sm-flex">
                                            <input type="text" name="coupon" id="coupon" class="form__input form__input--2 mr--20 mr-xs--0" placeholder="Coupon Code">
                                            <button type="submit" class="btn btn-small btn-bg-red btn-color-white btn-hover-2">Apply Coupon</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- User Action End -->
                        </div>
                    </div> 
                    <div class="row pb--80 pb-md--60 pb-sm--40">
                        <!-- Checkout Area Start -->  
                        <div class="col-lg-6">
                            <div class="checkout-title mt--10">
                                <h2>Billing Details</h2>
                            </div>
                            <div class="checkout-form">
                                <form action="#" class="form form--checkout" method="POST">
                                	{% csrf_token %}
                                	<input type="hidden" name="provinsi_asal" value="11">
									<input type="hidden" name="kota_asal" value="42" id="kota">
                                    
                                    <div class="form-row mb--20">
                                        <div class="form__group col-12">
                                            <label for="prov_tujuan" class="form__label form__label--2">Provinsi Tujuan <span class="required">*</span></label>
                                            <select id="prov_tujuan" name="provinsi_tujuan" class="form__input form__input--2 nice-select">
											<option>Pilih Provinsi Anda...</option>
                                            	{% for s in provinces.values %}
													{% for t in s.results %}
														<option value="{{t.province_id}}">{{t.province}}</option>
													{% endfor %}
												{% endfor %}
											</select>
                                        </div>
                                    </div>


                                    <div class="form-row mb--20">
                                        <div id="kota_tujuan" class="form__group col-12">
                                            <label for="kota_tujuan" class="form__label form__label--2">Kota Tujuan <span class="required">*</span></label>
                                            <select id="kota_tujuan" name="kota_tujuan" class="form__input form__input--2 nice-select">
											<option>Pilih Kota/Kabupaten...</option>
                                            	
											</select>
                                        </div>
                                    </div>

                                    <div class="form-row mb--20">
	                                    <div id="kecamatan_tujuan" class="form__group col-12">
											<label for="kecamatan_tujuan" class="form__label form__label--2">Kecamatan Tujuan</label>
											<select id="kecamatan_tujuan" name="kecamatan_tujuan" class="form__input form__input--2 nice-select">
                                            <option>Pilih Kecamatan...</option>
												
											</select>
										</div>
									</div>

                                    <div class="form-row mb--20">
                                        <div id="kecamatan_tujuan" class="form__group col-12">
                                            <label for="alamat" class="form__label form__label--2">Alamat</label>
                                            <input class="form__input form__input--2" type="text" name="alamat" placeholder="Masukkan Alamat Anda Beserta Kode Pos..">
                                        </div>
                                    </div>

									<div class="form-row mb--20">
										<div class="form__group col-12">
											<label for="ongkir" class="form__label form__label--2">Jasa Ekspedisi</label>
												<select id="ongkir" name="jasa_ongkir" class="form__input form__input--2 nice-select">
													<option value="">--------</option>
													<option value="jne">JNE</option>
													<option value="tiki">TIKI</option>
                                                    <option value="sicepat">SICEPAT</option>
												</select>
										</div>
									</div>
									<div class="form-row mb--20">
                                        <div class="form__group col-12">
                                            <label for="berat" class="form__label form__label--2">Berat<span class="required">*</span></label>
                                            <input type="" name="berat" value="{{order.berat}}" id="berat" class="form__input form__input--2" readonly="">
                                        </div>
                                    </div>
									
									<button class="btn btn-success" id="submit" type="button">CEK JASA SERVICE</button>


									<div class="form-row mb--20">
										<div id="service">
											<label for="service" class="form__label form__label--2">Service</label>
													<select id="service" name="harga_ongkir" class="form__input form__input--2 nice-select">
														
													</select>
										</div>
									</div>
									<button class="btn btn-primary" type="submit">LANJUT</button>
                                </form>
                            </div>
                        </div>
                        

                        <div class="col-xl-5 offset-xl-1 col-lg-6 mt-md--40">
                            <div class="order-details">
                                <div class="checkout-title mt--10">
                                    <h2>Your Order</h2>
                                </div>
                                <div class="table-content table-responsive mb--30">
                                    <table class="table order-table order-table-2">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th class="text-right">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                                {% for item in items %}
                                                    <tr>
                                                        <th>{{item.product.nama}} 
                                                            <strong><span>&#10005;</span>{{item.quantity}}</strong>
                                                        </th>
                                                        <td class="text-right">Rp.{{item.total_harga|intcomma}}</td>
                                                    </tr>
                                                {% endfor %}
                                            
                                        </tbody>
                                        <tfoot>
                                            <!-- <tr class="cart-subtotal">
                                                <th>Berat Total</th>
                                                <td class="text-right">{{order.berat}}gr</td>
                                            </tr> -->
                                            <tr class="">
                                                <th>Subtotal</th>
                                                <td class="text-right">Rp.{{total|intcomma}}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Checkout Area End -->
                    </div>
                </div>
            </div>
        </div>



<script type="text/javascript">       
        $(document).ready(function(){
          $("#prov").change(function(){
            prov_id = $("#prov :selected").val();
                $("#kota").load("/cek_kota/" + prov_id);

          });
          $("#prov_tujuan").change(function(){
            prov_tujuan_id = $("#prov_tujuan :selected").val();
                $("#kota_tujuan").load("/cek_kota_tujuan/" + prov_tujuan_id);

          });

          $("#kota_tujuan").change(function(){
            kota_tujuan_id = $("#kota_tujuan :selected").val();
                $("#kecamatan_tujuan").load("/cek_kecamatan_tujuan/" + kota_tujuan_id);

          });

          $("#submit").click(function(){
            kota_id = $("#kota").val();
            kecamatan_tujuan_id = $("#kecamatan_tujuan :selected").val();
            berat = $("#berat").val();
            jasa_ongkir = $("#ongkir :selected").val();
                $("#service").load("/cek_ongkir/" + kota_id + "/" + kecamatan_tujuan_id + "/" + berat + "/" +jasa_ongkir);
          });
        });
</script>

{% endblock content %}