{% extends "shop/index.html" %}
{% load humanize %}


{% block content %}
<div class="main-content-wrapper">
            <div class="page-content-inner">
                <div class="container">
                    <div class="row pt--50 pt-md--40 pt-sm--20">
                        <div class="col-12">
                            <!-- User Action Start -->
                            <div class="user-actions user-actions__coupon">
                                
                                
                            </div>
                            <!-- User Action End -->
                        </div>
                    </div> 
                    <div class="row pb--80 pb-md--60 pb-sm--40">
                        <!-- Checkout Area Start -->  
                        <div class="col-lg-6">
                            <div class="checkout-title mt--10">
                                <h2>Detail Pemesanan Anda</h2>
                            </div>
                            <div class="checkout-form">
                                <form action="#" class="form form--checkout" method="POST">
                                	{% csrf_token %}
                                    <table style="width:75%">
										<tr>
											<th>Nota</th>

											<td>{{orders.kode_nota}}</td>
										</tr>
										<tr>
											<th>Nama</th>
											<td>{{orders.user.first_name}} {{orders.user.last_name}}</td>
										</tr>
                                        <tr>
                                            <th>Status Transaksi</th>
                                            {% if orders.status_bayar == 'BELUM' %}
                                                <td>Menunggu Pembayaran</td>
                                                {% else %}
                                                <td>Telah Dibayar</td>
                                            {% endif %}
                                        </tr>
										<tr>
											<th>Jasa Ongkir</th>
											<td>{{orders.jasa_ongkir}}</td>
										</tr>
                                        <tr class="cart-subtotal">
                                            <th>Resi</th>
                                            <td>{{orders.resi}}</td>
                                        </tr>
                                        <tr>
                                            <th>Alamat</th>
                                            <td>{{orders.alamat}}</td>
                                        </tr>
                                        {% for p in ongkir.values %}
                                            <tr>
                                                <th>Kecamatan</th>
                                                <td>{{p.destination_details.subdistrict_name}}</td>
                                            </tr>
                                            <tr>
                                                <th>Kabupaten</th>
                                                <td>{{p.destination_details.city}}</td>
                                            </tr>
                                            <tr>
                                                <th>Provinsi</th>
                                                <td>{{p.destination_details.province}}</td>
                                            </tr>
                                        {% endfor %}
                                        </tr>
									</table>
                                </form>
                            </div>
                        </div>                        

                        <div class="col-xl-5 offset-xl-1 col-lg-6 mt-md--40">
                            <div class="order-details">
                                <div class="checkout-title mt--10">
                                    <h2>Pemesanan Anda</h2>
                                </div>
                                <div class="table-content table-responsive mb--30">
                                    <table class="table order-table order-table-2">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th class="text-right">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                {% for item in items %}
                                                    <tr>
                                                        <th>{{item.product.nama}} 
                                                            <strong><span>&#10005;</span>{{item.quantity}}</strong>
                                                        </th>
                                                        <td class="text-right">Rp.{{item.total_harga|intcomma}}</td>
                                                    </tr>
                                                {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr class="cart-subtotal">
                                                <th>Berat Total</th>
                                                <td class="text-right">{{orders.berat}}gr</td>
                                            </tr>
                                            <tr class="cart-subtotal">
                                                <th>Harga Ongkir</th>
                                                <td class="text-right">Rp.{{orders.harga_ongkir|intcomma}}</td>
                                            </tr>
                                            <tr class="cart-subtotal">
                                                <th>Total</th>
                                                <td class="text-right">Rp.{{orders.total_harga|intcomma}}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    {% if orders.status_bayar == 'BELUM' %}
	                                    <form method="POST" action="{% url 'shop-bayar' orders.kode_nota %}">
	                                    	{% csrf_token %}
		                                    <button class="btn btn-fullwidth btn-bg-red btn-color-white btn-hover-2" type="submit">Proceed Checkout</button>                                	
	                                    </form>
                                    {% endif %}
                                   <div class="payment-info" data-method="bank">
                                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.</p>
                                            </div>
                                </div>
                                
                            </div>
                        </div>
                        <!-- Checkout Area End -->
                    </div>
                </div>
            </div>
        </div>


{% endblock content %}