{% extends "shop/index.html" %}
{% load humanize %}
{% block content %}

<div class="container-fluid">
    <table class="table table-bordered col-12 ">
      {% if orders %}  
        <thead>
            <tr class="align-items-center">
                <th>KODE NOTA</th>
                <th>NAMA PEMBELI</th>
                <th>JASA EKSPEDISI</th>
                <th>WAKTU ORDER</th>
                <th>STATUS BAYAR</th>
                <th>HARGA</th>
                <TH>HARGA ONGKIR</TH>
                <TH>TOTAL HARGA</TH>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
              <tr class="align-items-center">
                  <td><a href="{% url 'shop-orderdetail' order.kode_nota %}">{{order.kode_nota}}</a></td>
                  <td>{{order.user.username}}</td>
                  <td>{{order.jasa_ongkir}}</td>
                  <td>{{order.created_at}}</td>
                  <td>{{order.status_bayar}}</td>
                  <td>Rp.{{order.harga|intcomma}}</td>
                  <td>Rp.{{order.harga_ongkir|intcomma}}</td>
                  <td>Rp.{{order.total_harga|intcomma}}</td>
                  
              </tr>
              {% endfor %}
        </tbody>
      {% else %}
      <span>anda belum melakukan pemesanan</span>
      {% endif %}

    </table>
</div>
    
       
{% endblock content %}